# Ignorar el entorno virtual y variables
.venv/
.env
__pycache__/

notebooks/00_playground.ipynb

data/

# Ignorar toda la carpeta de configuración de VS Code...
.vscode/

# ...PERO obligar a subir el archivo de configuración del proyecto
!.vscode/settings.json